@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined');

/* app theme colors*/

$app-primary-color: #89DA59;
$app-primary-variant:#ffb4da;
$app-background-color: #f8f8f8;
$app-surface-color: #ffffff;
$app-font-color: #000000;
$app-font-variant: #6a6a6a;
$app-font-family: 'Roboto', sans-serif;
$app-loader-background-color: #000000;
$app-action-disable-color: #e8e8e8;
$app-mat-table-heder-color: #e5e5e5;

$screen-sm-max: 540px;
$screen-md-max: 780px;
